html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  color: #575757;
  font-family: 'PingFang SC-Bold';
  margin: 0;
}
html p,
body p {
  margin: 0;
  line-height: 24px;
}
html {
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
ul,
dl,
dd,
dt,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
th {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: inline-block;
  content: "clear";
  height: 0;
  line-height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}


/* 业务样式 */
/* 头部导航样式开始 */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  z-index: 2;
}
.header-content {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
}
.header-left {
  float: left;
}
.header-left-logo {
  margin-right: 36px;
  width: 137px;
  height: 32px;
  margin-top: 22px;
}
.header-nav {
  display: inline-block;
  vertical-align: top;
  padding-top: 29px;
}
.header-nav li {
  float: left;
  padding: 0 12px;
}
.header-nav li a {
  color: #575757;
  color: gray;
}
.header-nav li a:hover, .header-nav li .a-active {
  color: #383838;
  font-weight: bold;
}
.header-download {
  float: right;
  width: 136px;
  height: 38px;
  line-height: 38px;
  border-radius: 19px;
  color: #575757;
  text-align: center;
  border: 1px solid #575757;
  margin-top: 21px;
  cursor: pointer;
}
.header-download:hover {
  color: #00AFFF;
  border-color: #00AFFF;
}

/* 头部导航样式结束 */

/* 手机端头部导航样式开始 */

.mobile-header {
  height: 0.64rem;
  padding-top: 0.16rem;
  width: 100%;
  padding-left: 0.2rem ;
  padding-right: 0.24rem;
  vertical-align: middle;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(124,124,124,0.07);
}
.mobile-header-left {
  float: left;
  width: 1.24rem;
  height: 100%;
}
.mobile-header-left img {
  vertical-align: top;
  width: 100%;
}
.mobile-header-right {
  float: right;
  width: 2rem;
  height: 100%;
}

.mobile-header-download {
  width: 1.04rem;
  height: 0.3rem;
  line-height: 0.3rem;
  vertical-align: top;
  border: 1px solid #575757;
  border-radius: 0.19rem;
  -webkit-border-radius: 0.19rem;
  -moz-border-radius: 0.19rem;
  -ms-border-radius: 0.19rem;
  -o-border-radius: 0.19rem;
  text-align: center;
  font-size: 0.14rem;
  display: inline-block;
  margin-right: .17rem;
}
.mobile-more-menu-btn {
  font-size: 0.14rem;
  color: #6a6a6a;
  line-height: 0.3rem;
}


.mobile-more-menu-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(57,57,57,0.5);
  z-index: 3;
  /* opacity: 0; */
  transition: opacity 0.3s ease  ;
  -webkit-transition: opacity 0.3s ease  ;
  -moz-transition: opacity 0.3s ease  ;
  -ms-transition: opacity 0.3s ease  ;
  -o-transition: opacity 0.3s ease  ;
  display: none;
}
.mobile-more-menu {
  width: 2.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
}
.btn-close {
  margin-bottom: .24rem;
  text-align: right;
  padding-right: .27rem;
  padding-top: .2rem;
}
.mobile-more-nav {
  height: .7rem;
  line-height: .7rem;
  border-bottom: 1px solid #d9d9d9;
  padding-left: .24rem;

}
.mobile-more-nav a {
  color: #575757;
  font-size: .16rem;
}

/* 手机端头部导航样式结束 */


/* 分割线 */
.module-divider-common, .module-divider-common1, .module-divider-common2, .module-divider-common-price {
  text-align: center;
  color: #2c2c2c;
  font-size: 48px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  background-color: #f4f5f6;
}
.divider-content1 {
  background: url('./images/divider-bg1.png') no-repeat 50% 67%;
  display: inline-block;
}
.divider-content2 {
  background: url('./images/divider-bg2.png') no-repeat 50% 67%;
  display: inline-block;
}



/* 页脚开始 */
.footer-top {
  background-color: #111;
  height: 278px;
  border-bottom: 1px solid #313131;
}

.footer-bottom {
  background-color: #111;
  height: 122px;
  color: #8e8e8e;
  padding-top: 32px;
  font-size: 14px;
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}
.footer-top-content {
  padding-top: 61px;
  height: 278px;
  padding-left: 80px;
}
.footer-item {
  color: #8e8e8e;
  font-size: 14px;
  margin-right: 80px;
  display: inline-block;
  vertical-align: top;
}
.footer-item a, .footer-bottom a {
  color: #8e8e8e;
}
.footer-bottom .a-underline {
  text-decoration: underline;
  margin-right: 10px;
}
.footer-bottom-item {
  padding-top: 10px;
  margin-right: 32px;
  display: inline-block;
}
.footer-item-title {
  color: #fff;
  font-weight: bold;
  font-family: 'PingFang SC-Bold';
  font-size: 18px;
  margin-bottom: 25px;
}
.footer-item-line {
  margin-bottom: 24px;
}
.footer-item-lineleft {
  margin-right: 48px;
}
.footer-logo {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.footer-bottom img {
  width: 14px;
  height: 14px;
}

/* 页脚结束 */

/* 手机端底部开始 */
.mobile-footer-wrap {
  padding: .24rem .4rem .24rem ;
  background-color: #111;
}
.client-download {
  display: inline-block;
  width: 49%;
  margin-bottom: .16rem;
}
.mobile-footer-title-text {
  font-size: .16rem;
  color: #fff;
  margin-bottom: .08rem;
}
.mobile-footer-con-text {
  font-size: .14rem;
  color: #8e8e8e;
}
.mobile-footer-item {
  margin-bottom: .24rem;
}
.friend-link {
  margin-right: .24rem;
}
.about-us {
  padding: 0 .12rem;
  position: relative;
}
.about-us:first-child {
  padding-left: 0;
}
.about-us::after {
  content: '';
  width: 1px;
  height: .12rem;
  right: 0;
  background-color: #8e8e8e;
  position: absolute;
  top: 50%;
  margin-top: -.05rem;
}
.about-us:last-child::after {
  display: none;
}
.footer-code-item {
  width: 48%;
  display: inline-block;
  text-align: center;
  margin-right:1%;
}
.footer-code-item img {
  /* width: 100%; */
}

/* 手机端底部结束 */


/* 屏幕宽度小于769 使用移动端样式 */

@media screen and (min-width: 320px) and (max-width: 370px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 371px) and (max-width: 769px) { 
  html {
    font-size: 100px;
  }
}


@media screen and (max-width: 769px) {
  html {
    background-color: #F4F5F6;
  }
  body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select  {
    font-size: 14px;
  }
  .header {
    display: none;
  }
  .banner-wrap {
    display: none;
  }
  .module-divider-common1 {
    display: none;
  }
  .mobile-module-divider-common {
    text-align: center;
    color: #2c2c2c;
    font-size: 20px;
    height: 0.68rem;
    line-height: 0.68rem;
  }
  .mobile-divider-content1 {
    background: url('./images/divider-bg1.png') no-repeat 50% 100%;
    background-size: contain;
  }
  .module-divider-common2 {
    font-size: 20px;
  }
  .more-game-wrap {
    display: none;
  }
  .price-preview {
    display: none
  }
  .footer-top {
    display: none;
  }
  .footer-bottom {
    display: none;
  }

}

/* 电脑屏幕 */
@media screen and (min-width : 770px) {
  .mobile-header {
    display: none;
  }
  .mobile-banner-wrap {
    display: none;
  }
  .mobile-module-divider-common {
    /* display: none; */
  }
  .mobile-game-wrap {
    display: none;
  }
  .mobile-price-preview {
    display: none;
  }
  .mobile-footer-wrap {
    display: none;
  }
  .mobile-more-menu-mask {
    display: none;
  }

}