

/*************** pc端开始 *********************** */
/* 第一屏banner开始 */
.banner-wrap {
  height: 1000px;
  background: url('./images/banner-bg1.png') ;
  margin-top: 80px;
}
.banner-content {
  width: 1239px;
  height: 1000px;
  margin: 0 auto;
}
.banner-left {
  width: 528px;
  float: left;
  margin-top: 344px;
  animation: slideUp 0.8s ease-out forwards;
  -webkit-animation: slideUp 0.8s ease-out forwards;
}
/* 定义动画 */  
@keyframes slideUp {  
  from {  
    transform: translateY(100%); /* 从下方开始，移动元素自身高度的100% */  
    opacity: 0; /* 可选：开始时元素透明 */  
  }  
  to {  
    transform: translateY(0); /* 到顶部结束，不移动 */  
    opacity: 1; /* 可选：结束时元素不透明 */  
  }  
}


.common-left-title {
  font-weight: bold;
  font-family: 'PingFang SC-Bold';
  font-size: 48px;
  margin-bottom: 16px;
}
.common-line2 {
  margin-bottom: 28px;
}
.common-line2-price {
  width: 120px;
  height: 35px;
  text-align: center;
  display: inline-block;
  margin-right: 16px;
  line-height: 35px;
  font-size: 20px;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: linear-gradient( 90deg, #E54444 0%, #AD5BB6 61%, #3A5EE0 100%);
}
.common-line2-game {
  vertical-align: top;
  color: #707070;
  font-size: 24px;
  font-family: 'PingFang SC-Bold';
}
.banner-line3 {
  color: #fff;
  font-size: 24px;
}
.banner-line3 .iconfont {
  font-size: 24px;
  margin-right: 8px;
}
.banner-pc-download {
  width: 287px;
  height: 168px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  
}
.download-windows {
  height: 80px;
  line-height: 80px;
  margin-bottom: 8px;
  background-color: #373737;
  cursor: pointer;
  color: #fff;
}
.download-windows:hover, .download-mac:hover, .banner-mobile-download:hover {
  background-color: #505050;
}

.download-mac {
  height: 80px;
  line-height: 80px;
  background-color: #373737;
  cursor: pointer;
  color: #fff;
}
.banner-mobile-download {
  padding-top: 16px;
  display: inline-block;
  width: 168px;
  height: 168px;
  background: #373737;
  text-align: center;
}
.banner-mobile-download #app-download-qrcode-pc img {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}


.banner-right {
  float: right;
  margin-top: 275px;
  width:711px;
  height: 448px;
  background-image: url('./images/banner-bg2.png');
}

/* 第一屏banner结束 */

/* 手机端第一屏banner开始 */
.mobile-banner-wrap {
  width: 100%;
  background: url('./images/banner-bg1.png');
  background-size: cover;
  padding-bottom: 0.45rem;
  margin-top: 0.64rem;
}
.mobile-banner-content {
  animation: slideUp 0.8s ease-out forwards;
  -webkit-animation: slideUp 0.8s ease-out forwards;
}
.mobile-banner-title {
  font-size: .28rem;
  text-align: center;
  padding-top: 0.4rem;
  line-height: 0.39rem;
}
/* 手机端第一屏banner结束 */


/* 查看更多游戏开始 */
.more-game-wrap {
  height:  680px;
  background-color: #EBECED;;
}
.more-game-content {
  width: 1200px;
  height: 680px;
  margin: 0 auto;
}

.more-game-left {
  margin-top: 228px;
  width: 484px;
  float: left;
}
.more-game-right {
   width: 656px;
   height: 680px;
   float: right;
   overflow: hidden;
}

.more-game-right-content {
  width: 100%;
  height: 100%;
  background: url('./images/game-list2.png') repeat-y;
  animation: scrollMoreGame 5s linear infinite;
  -webkit-animation: scrollMoreGame 5s linear infinite;
}

@keyframes scrollMoreGame {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 0 100%;
  }
}


.see-more-game-btn {
  width: 272px;
  height: 66px;
  line-height: 66px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #373737;
  cursor: pointer;
}
.see-more-game-btn:hover {
  background-color: #505050;
}
.more-game-download-wrap {
  display: none;
}

.more-game-download {
  width: 1200px;
  height: 477px;
  background: url('./images/download-bg.png');
  position: absolute;
  top: 50%;
  margin-top: -238px;
  left: 50%;
  margin-left: -600px;
  padding-right: 34px;
  z-index: 4;
}
.more-game-download-right {
  margin-left: 742px;
  padding-top: 145px;
  user-select: none;
  position: relative;
}
.more-game-download-close {
  position: absolute;
  top: 10px;
  right: -20px;
  color: #fff;
  cursor: pointer;
}
.more-game-download-close i {
  font-size: 24px;
}
.more-game-download-close:hover {
  color: #d3d3d3;
}
.more-game-download-title {
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}
.more-game-pc-download {
  display: inline-block;
  cursor: pointer;
}
.more-game-mobile-download {
  display: inline-block;
  width: 124px;
  height: 124px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  padding-top: 4px;
}
.more-game-mobile-download #app-download-qrcode-more img {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.more-game-pc-download {
  width: 229px;
  margin-right: 4px;
}
.more-game-pc-download a {
  color: #3a3a3a;
}
.more-game-pc-download .iconfont, .more-game-mobile-download .iconfont {
  margin-right: 4px;
}
.more-game-mac-download {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 16px;
  display: inline-block;
  background-color: #fff;
}
.more-game-mac-download:hover, .more-game-window-download:hover {
  background-color: #ededed;
}
.more-game-window-download {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
}


/* 查看更多游戏结束 */

/* 手机端查看更多游戏结束 */
.mobile-game-img-list {
  background-color: #EBECED;
  height: 1.82rem;
  margin-bottom: .15rem;
  background: url('./images/game-list-mobile.png') no-repeat 50% 0;
  animation: scrollMoreGameMobile 5s linear infinite;
  -webkit-animation: scrollMoreGameMobile 5s linear infinite;
}

@keyframes scrollMoreGameMobile {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}

.mobile-more-game {
  width: 1.48rem;
  height: .36rem;
  line-height: .36rem;
  color: #fff;
  font-size: .14rem;
  text-align: center;
  margin: 0 auto;
  background-color: #373737;
}


/* 手机端查看更多游戏结束 */

/* 首页价格开始 */
.price-preview {
  height: 461px;
  background: url('./images/price-bg.png') no-repeat 100% 100%;
}
.price-preview-content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
.price-preview-item {
  display: inline-block;
  width: 270px;
  height: 337px;
  text-align: center;
  padding-top: 24px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  position: relative;
  margin-right: 30px;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}
.price-preview-item:hover {
  transform: scale(1.04,1.04);
  -webkit-transform: scale(1.04,1.04);
  -moz-transform: scale(1.04,1.04);
  -ms-transform: scale(1.04,1.04);
  -o-transform: scale(1.04,1.04);
}
.price-preview-item:last-child {
  margin-right: 0px;
}
.price-kind {
  font-size: 24px;
  color: #292929;
  font-family: 'PingFang SC-Bold';
  font-weight: bold;
}

.price-img {
  width: 141px;
  height: 141px;
  margin: 0 auto;
}
.price-count {
  font-size: 32px;
  color: #FB5B0E;
  font-family: 'PingFang SC-Bold';
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 14px;
}
.price-see-more {
  color: #686868;
  font-size: 16px;
}

/* .price-buy {
  position: absolute;
  width: 136px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  bottom: -25px;
  left: 67px;
  cursor: pointer;
  user-select: none;
}
.price-buy:hover {
  background-color: #444;
} */
/* 首页价格結束 */

/* 手机端首页价格开始 */
.mobile-price-preview {
  width: 100%;
  padding: .16rem 0.66rem 0;
  /* height: 3.22rem; */
  background: url('./images/price-mobile-bg.png');
  background-size: cover;
}
.mobile-price-preview-item {
  float: left;
  font-size: .10rem;
  font-weight: bold;
  padding-top: .12rem;
  padding-bottom: .13rem;
  width: 47.5%;
  margin-right: 5%;
  margin-bottom: .25rem;
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.mobile-price-preview-item:nth-child(2n) {
  margin-right: 0px;
}
.mobile-price-kind {
  margin-bottom: .04rem;
}
.mobile-price-count {
  font-size: .14rem;
  color: #FB5B0E;
  margin-bottom: .14rem;
}
.mobile-price-buy {
  position: absolute;
  width: .56rem;
  height: .18rem;
  line-height: .18rem;
  background-color: #000;
  color: #fff;
  bottom: -0.09rem;
  left: 50%;
  margin-left: -.26rem;
  border-radius: .11rem;
  -webkit-border-radius: .11rem;
  -moz-border-radius: .11rem;
  -ms-border-radius: .11rem;
  -o-border-radius: .11rem;
}

/* 手机端首页价格結束 */


/*************** pc端结束 *********************** */



/*************** 手机移动端开始 *********************** */
@media screen and (max-width: 769px) {
  .common-line2 {
    font-size: 14px;
    text-align: center;
    margin-bottom: .18rem;
  }
  .common-line2-price {
    width: 0.7rem;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: .14rem;
    margin-right: 8px;
    background: linear-gradient( 90deg, #E54444 0%, #AD5BB6 61%, #3A5EE0 100%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .common-line2-game {
    font-size: .14rem;
    vertical-align: middle;
  }
  .banner-line3 {
    text-align: center;
    font-size: .14rem;
  }
  .banner-pc-download {
    width: 1.62rem;
    height: 1.08rem;
    font-size: .14rem;
  }
  .download-windows {
    margin-bottom: 0.04rem;
  }
  .download-windows, .download-mac {
    cursor: pointer;
    height: .52rem;
    line-height: .52rem;
    color: #fff;
  }

  .banner-mobile-download {
    width: 1.08rem;
    height: 1.08rem;
  }
  .banner-mobile-download #app-download-qrcode-mobile {
    width: .64rem;
    height: .64rem;
    margin: 0 auto;
  }
}

/*************** 手机移动端结束 *********************** */
