.module-divider-common {
  background-color: transparent;
}
.price-kind-wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.price-kind-wrap-title {
  color: #383838;
  font-size: 32px;
  margin-bottom: 68px;

}
.price-kind-title {
  padding: 0 16px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.price-kind-title::after {
  content: '';
  width: 2px;
  height: 20px;
  background-color: #b1b1b1;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
}

.price-kind-wrap-title-active{
  font-weight: bold;
}
.price-kind-wrap-title-active::before {
  position: absolute;
  content: '';
  width: 58px;
  height: 4px;
  background-color: #009FE8;
  bottom: -8px;
  left: 50%;
  margin-left: -26px;
}

.price-con-wrap {
  background: linear-gradient( 180deg, #E8E3F7 0%, #F4F5F6 50%);
  padding-top: 80px;
}
.price-item {
  width: 270px;
  height: 412px;
  background-color: white;
  text-align: center;
  display: inline-block;
  margin-right: 35px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.price-item:nth-child(4n) {
  margin-right: 0px;
}

.price-text {
  color: #292929;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'PingFang SC-Medium';
}
.price-explain {
  padding-left: 64px;
  text-align: left;
}
.price-explain .iconfont {
  color: #47FF64;
  margin-right: 4px;
  font-size: 19px;
}

.price-line {
  margin-top: -14px;
}
.price-title {
  font-weight: bold;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 24px 6px 0;
}
.price-crown-wrap {
  width: 141px;
  height: 141px;
  margin: 0 auto;
}
.money-count {
  color: #fb5b0e;
  font-size: 40px;
  margin-right: 6px;
}
.origin-price {
  color: #ccc;
  font-size: 16px;
  text-decoration: line-through;
  margin-bottom: 16px;
  margin-top: -6px;
}

.module-divider-common-price {
  background-color: transparent;
}

/* 手机端样式 */
.mobile-kind-title-wrap {
  color: #383838;
  font-size: .16rem;
  margin-bottom: .22rem;
  padding-left: .24rem;
}
.mobile-kind-title {
  position: relative;
  padding: 0 .12rem;
  cursor: pointer;
  user-select: none;
}
.mobile-kind-title:first-child {
  padding-left: 0;
}
.mobile-kind-title-active {
  font-weight: bold;

}
.mobile-kind-title-active::before {
  position: absolute;
  content: "";
  width: .32rem;
  height: .02rem;
  background-color: #009FE8;
  left: 50%;
  margin-left: -.16rem;
  bottom: -.06rem;
}
.mobile-kind-title::after {
  position: absolute;
  content: '';
  width: .01rem;
  height: .14rem;
  background-color: #b1b1b1;
  top: 50%;
  margin-top: -.07rem;
  right: 0;
}

/* 手机端价格 */

.mobile-price-item {
  width: 48%;
  background-color: #fff;
  padding: .12rem .25rem .21rem;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-bottom: .2rem;
  margin-right: 1%;
  position: relative;
  user-select: none;
}

.mobile-price-text {
  color: #292929;
  font-size: .14rem;
  margin-bottom: .08rem;
}
.mobile-price-title {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mobile-money-count {
  color: #fb5b0e;
  font-weight: bold;
  font-size: .22rem;
  margin-right: .06rem;
}
.mobile-origin-price {
  color: #ccc;
  font-size: .09rem;
  text-decoration: line-through;
  margin-bottom: .08rem;

  
}



/* // 手机端 */
@media screen and (max-width: 769px) {
  .price-con-wrap {
    padding-top: .64rem;
  }
  .mobile-module-divider-common {
    background-color: transparent;
  }
  .swiper-slide {
    padding: 0 .24rem;
  }
  .price-kind-wrap {
    display: none;
  }
}

/* 电脑屏幕 */
@media screen and (min-width : 770px) { 
 .mobile-price-kind-wrap {
  display: none;
 } 
}