@font-face {
  font-family: "iconfont"; /* Project id 4023414 */
  src: url('iconfont.woff2?t=1751512137283') format('woff2'),
       url('iconfont.woff?t=1751512137283') format('woff'),
       url('iconfont.ttf?t=1751512137283') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Group10549:before {
  content: "\e6fd";
}

.icon-a-Maskgroup22:before {
  content: "\e6f8";
}

.icon-a-Maskgroup2:before {
  content: "\e6f6";
}

.icon-a-Maskgroup-3:before {
  content: "\e6f7";
}

.icon-a-Maskgroup11:before {
  content: "\e6f9";
}

.icon-a-Maskgroup-4:before {
  content: "\e6fa";
}

.icon-a-Maskgroup-2:before {
  content: "\e6fb";
}

.icon-a-Maskgroup-1:before {
  content: "\e6fc";
}

.icon-a-Group1269:before {
  content: "\e672";
}

.icon-a-Group1267-copy:before {
  content: "\e673";
}

.icon-Vector:before {
  content: "\e670";
}

.icon-a-Maskgroup:before {
  content: "\e657";
}

.icon-arrow-left:before {
  content: "\e656";
}

.icon-a-Group137711:before {
  content: "\e65e";
}

.icon-a-Group13772:before {
  content: "\e65f";
}

.icon-a-Maskgroup1:before {
  content: "\e660";
}

.icon-a-Group13431:before {
  content: "\e661";
}

.icon-Frame3:before {
  content: "\e662";
}

.icon-Frame11:before {
  content: "\e663";
}

.icon-Frame41:before {
  content: "\e664";
}

.icon-Frame21:before {
  content: "\e665";
}

.icon-Frame61:before {
  content: "\e666";
}

.icon-a-Group13421:before {
  content: "\e667";
}

.icon-a-Maskgroup-11:before {
  content: "\e668";
}

.icon-Frame71:before {
  content: "\e669";
}

.icon-Vector1:before {
  content: "\e66a";
}

.icon-Vector31:before {
  content: "\e66b";
}

